---
import OpenMeteo from "../lib/weather";

interface Props {
    foreground: string;
    background: string;
    weather: boolean;
    latitude: string;
    longtitude: string;
    timezone: string;
}

const { weather, latitude, longtitude, timezone, foreground, background } =
    Astro.props;
const DATE = new Date();
const TIME = DATE.toLocaleTimeString("de", {
    hour: "2-digit",
    minute: "2-digit",
});
const DATEONLY = DATE.toLocaleDateString("gb", {
    month: "long",
    day: "numeric",
    weekday: "long",
});
const FEATURES = [];
if (weather) {
    const WEATHER = await OpenMeteo.getWeather(timezone, latitude, longtitude);
    if (WEATHER) FEATURES.push(WEATHER);
}
---

<div class="flex flex-col md:flex-row justify-between flex-100 px-4">
    <div
        style={{ "border-color": foreground }}
        class="flex flex-col mt-auto text-left border-b-2 md:border-none mb-5 md:mb-0 pb-5 md:pb-0"
    >
        <h1
            style={{ color: foreground }}
            class="text-3xl md:text-4xl font-bold"
        >
            {TIME}
        </h1>
        <h1 style={{ color: foreground }} class="text-lg md:text-xl font-bold">
            {DATEONLY}
        </h1>
    </div>
    {
        FEATURES.map((ft) => (
            <div class="flex flex-col mt-auto text-left md:text-right">
                <h1 style={{ color: foreground }} class="text-lg md:text-4xl">
                    <span class="font-bold">{ft.temp}</span> -{" "}
                    <span class="font-bold">{ft.temp_min}</span> /{" "}
                    <span class="font-bold">{ft.temp_max}</span>
                </h1>
                <h1 style={{ color: foreground }} class="text-lg md:text-xl">
                    RAIN: <span class="font-bold">{ft.perc_prob}</span> - COVER:{" "}
                    <span class="font-bold">{ft.cloud_cov}</span> - UV:{" "}
                    <span class="font-bold">{ft.uv_idx}</span> - SUN:{" "}
                    <span class="font-bold">{ft.sun_dur}</span>
                </h1>
            </div>
        ))
    }
</div>
