---
import Entry from "./Entry.astro";
import ConfigParser from "../lib/config";
import type { ConfigFileType } from "../lib/config";

interface Props {
    config: ConfigFileType;
    name: string;
    foreground: string;
    background: string;
}

const { config, name, foreground, background } = Astro.props;
const ENTRIES = await ConfigParser.getCategoryEntries(config, name);
---

<div class="flex-100 sm:flex-20 px-4 space-y-4">
    <h1 style={{ color: foreground }} class="text-3xl font-bold">{name}</h1>
    {
        ENTRIES.map((entry) => (
            <Entry
                name={entry.name}
                tag={entry.tag}
                url={entry.url}
                image={entry.logo}
                description={entry.subtitle}
                foreground={foreground}
                background={background}
            />
        ))
    }
</div>
