---
import DateTime from "./features/DateTime.astro";
import Weather from "./features/Weather.astro";

interface Props {
    foreground: string;
    background: string;
    weather: boolean;
    latitude: string;
    longtitude: string;
    timezone: string;
}

const { weather, latitude, longtitude, timezone, foreground, background } =
    Astro.props;
---

<div class="flex flex-col md:flex-row justify-between flex-100 px-4">
    <DateTime foreground={foreground} background={background} />
    {
        weather && (
            <Weather
                server:defer
                latitude={latitude}
                longtitude={longtitude}
                timezone={timezone}
                foreground={foreground}
                background={background}
            >
                <div
                    class="flex flex-col w-3/4 md:w-[35%] animate-pulse"
                    slot="fallback"
                >
                    <div
                        style={{
                            color: background,
                            "background-color": background,
                        }}
                        class="flex mr-auto md:ml-auto md:mr-0 h-[1.5rem] w-3/4 md:h-[2.5rem] rounded-full mb-2"
                    />
                    <div
                        style={{
                            color: background,
                            "background-color": background,
                        }}
                        class="flex mr-auto md:ml-auto md:mr-0 h-[1.5rem] w-full rounded-full"
                    />
                </div>
            </Weather>
        )
    }
</div>
